business-organisation-directory/src/main/resources/crd/crd.wsdl

<!-- File from: https://crdservice-online.rne.eu/CRD/wsdl/CRDRFDataReplicationWS -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rfdata="http://ws.refdata.crd.cc.uic.org/v1/" xmlns:types="http://schema.refdata.crd.cc.uic.org/types/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="CRDRFDataReplicationWSImplService" targetNamespace="http://ws.refdata.crd.cc.uic.org/v1/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rftypes="http://schema.refdata.crd.cc.uic.org/types/v1/" targetNamespace="http://schema.refdata.crd.cc.uic.org/types/v1/">
      <!--
                      Request element which contains the Filter Criteria and Replication
                      volume from LI for Company Data Replication from CRD
                   -->
      <xs:element name="CompanyReplicationRequest">
        <xs:annotation>
          <xs:documentation>Request element which contains the Filter Criteria and Replication volume from LI for Company Data Replication from CRD </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="rftypes:CountryCodeISO" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="PrincipalActivity" type="rftypes:PrincipalActivity" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ReplicationVolume" type="rftypes:ReplicationVolume" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CountryReplicationRequest">
        <xs:annotation>
          <xs:documentation>Request element which contains the Replication volume from LI for Country Data Replication from CRD </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ReplicationVolume" type="rftypes:ReplicationVolume" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PrimaryLocationReplicationRequest">
        <xs:annotation>
          <xs:documentation>Request element which contains the Filter Criteria and Replication volume from LI for Primary Location Data Replication from CRD</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="rftypes:CountryCodeISO" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ResponsibleIM" type="rftypes:CompanyCode" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>IM Responisible for location</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ReplicationVolume" type="rftypes:ReplicationVolume" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Replication Volume parameters</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SubsidiaryLocationReplicationRequest">
        <xs:annotation>
          <xs:documentation>Request element which contains the Filter Criteria and Replication volume from LI for Subsidiary Location Data Replication from CRD</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="rftypes:CountryCodeISO" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ResponsibleIM" type="rftypes:CompanyCode" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>IM Responisible for reporting</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="SubsidiaryType" type="rftypes:SubsidiaryTypeCode" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="AllocationCompany" type="rftypes:CompanyCode" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ReplicationVolume" type="rftypes:ReplicationVolume" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SubsidiaryTypeReplicationRequest">
        <xs:annotation>
          <xs:documentation>Request element which contains the Filter Criteria and Replication volume from LI for Subsidiary Type Data Replication from CRD</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ReplicationVolume" type="rftypes:ReplicationVolume" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CompanyReplicationResponse">
        <xs:annotation>
          <xs:documentation>Response element which contains the Company Data to be replicated </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="deletedCompany" type="rftypes:CompanyCode" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Company" type="rftypes:Company" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CountryReplicationResponse">
        <xs:annotation>
          <xs:documentation>Response element which contains the Country Data to be replicated </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="deletedCountry" type="rftypes:CountryIdentISO" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="rftypes:Country" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PrimaryLocationReplicationResponse">
        <xs:annotation>
          <xs:documentation>Response element which contains the Primary Location Data to be replicated </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="rftypes:Deleted_Primary_Location" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="rftypes:Primary_Location" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SubsidiaryLocationReplicationResponse">
        <xs:annotation>
          <xs:documentation>Response element which contains the Subsidiary Location Data to be replicated </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="rftypes:Deleted_Subsidiary_Location" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="rftypes:Subsidiary_Location" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SubsidiaryTypeReplicationResponse">
        <xs:annotation>
          <xs:documentation>Response element which contains the Subsidiary Type Data to be replicated </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Deleted_Subsidiary_Type" type="rftypes:String-2" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="rftypes:SubsidiaryType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Company">
        <xs:annotation>
          <xs:documentation>Company Information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Company_Name" type="rftypes:String-255"/>
          <xs:element name="Company_Name_ASCII" type="rftypes:String-255" nillable="true" minOccurs="0"/>
          <xs:element name="Company_UIC_Code" type="rftypes:CompanyCode"/>
          <xs:element name="Company_URL" type="rftypes:String-100" nillable="true" minOccurs="0"/>
          <xs:element ref="rftypes:Country"/>
          <xs:element name="Start_Validity" type="rftypes:DateTime"/>
          <xs:element name="End_Validity" type="rftypes:DateTime" nillable="true" minOccurs="0"/>
          <xs:element name="Company_Short_Name" type="rftypes:String-50"/>
          <xs:element name="Free_Text" type="rftypes:String-255" nillable="true" minOccurs="0"/>
          <xs:element ref="rftypes:Contact_Details"/>
          <xs:element name="Passenger_Flag" type="xs:boolean"/>
          <xs:element name="Freight_Flag" type="xs:boolean"/>
          <xs:element name="Infrastructure_Flag" type="xs:boolean"/>
          <xs:element name="Other_Company_flag" type="xs:boolean"/>
          <xs:element name="NE_Entity_Flag" type="xs:boolean"/>
          <xs:element name="CE_Entity_Flag" type="xs:boolean"/>
          <xs:element name="Add_Date" type="rftypes:DateTime"/>
          <xs:element name="Modified_Date" type="rftypes:DateTime" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Country">
        <xs:annotation>
          <xs:documentation>Country Information</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="rftypes:CountryCodeISO"/>
            <xs:element name="Country_UIC_Code" type="rftypes:String-2" nillable="true" minOccurs="0"/>
            <xs:element name="Country_Name_EN" type="rftypes:String-255"/>
            <xs:element name="Country_Name_FR" type="rftypes:String-255" nillable="true" minOccurs="0"/>
            <xs:element name="Country_Name_DE" type="rftypes:String-255" nillable="true" minOccurs="0"/>
            <xs:element name="Sub_Loc_Code_Flag" type="xs:boolean"/>
            <xs:element name="Add_Date" type="rftypes:DateTime"/>
            <xs:element name="Modified_Date" type="rftypes:DateTime" nillable="true" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Contact_Details">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Contact_Person" type="rftypes:String-255"/>
            <xs:element name="Email" type="rftypes:String-70" nillable="true" minOccurs="0"/>
            <xs:element name="Phone_Number" type="rftypes:String-70" nillable="true" minOccurs="0"/>
            <xs:element name="FAX_Number" type="rftypes:String-70" nillable="true" minOccurs="0"/>
            <xs:element name="Address" type="rftypes:String-255" nillable="true" minOccurs="0"/>
            <xs:element name="City" type="rftypes:String-50" nillable="true" minOccurs="0"/>
            <xs:element name="Mobile_Number" type="rftypes:String-70" nillable="true" minOccurs="0"/>
            <xs:element name="Postal_Code" type="rftypes:String-10" nillable="true" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Primary_Location">
        <xs:annotation>
          <xs:documentation>Primary Location Information</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="rftypes:Country"/>
            <xs:element name="Location_Code" type="rftypes:String1-5"/>
            <xs:element name="Start_Validity" type="rftypes:DateTime"/>
            <xs:element name="End_Validity" type="rftypes:DateTime" nillable="true" minOccurs="0"/>
            <xs:element name="ResponsibleIM" type="rftypes:Company">
              <xs:annotation>
                <xs:documentation>IM Responsible for location</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Location_Name" type="rftypes:String-255"/>
            <xs:element name="Location_Name_ASCII" type="rftypes:String-255"/>
            <xs:element name="NUTS_Code" type="rftypes:String5" nillable="true" minOccurs="0"/>
            <xs:element name="Container_Handling_Flag" type="xs:boolean" nillable="true" minOccurs="0"/>
            <xs:element name="Handover_Point_Flag" type="xs:boolean" nillable="true" minOccurs="0"/>
            <xs:element name="Freight_Possible_Flag" type="xs:boolean" nillable="true" minOccurs="0"/>
            <xs:element name="Freight_Start_Validity" type="rftypes:DateTime" nillable="true" minOccurs="0"/>
            <xs:element name="Freight_End_Validity" type="rftypes:DateTime" nillable="true" minOccurs="0"/>
            <xs:element name="Passenger_Possible_Flag" type="xs:boolean" nillable="true" minOccurs="0"/>
            <xs:element name="Passenger_Start_Validity" type="rftypes:DateTime" nillable="true" minOccurs="0"/>
            <xs:element name="Passenger_End_Validity" type="rftypes:DateTime" nillable="true" minOccurs="0"/>
            <xs:element name="Longitude" type="rftypes:Decimal9-6" nillable="true" minOccurs="0"/>
            <xs:element name="Latitude" type="rftypes:Decimal8-6" nillable="true" minOccurs="0"/>
            <xs:element name="Free_Text" type="rftypes:String-255" nillable="true" minOccurs="0"/>
            <xs:element name="Add_Date" type="rftypes:DateTime"/>
            <xs:element name="Modified_Date" type="rftypes:DateTime" nillable="true" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SubsidiaryType">
        <xs:annotation>
          <xs:documentation>Subsidiary Type information</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Subsidiary_Type_Code" type="rftypes:String-2"/>
            <xs:element name="Subsidiary_Type_Name" type="rftypes:String-255"/>
            <xs:element name="IM_Flag" type="xs:boolean"/>
            <xs:element name="Freight_RU_Flag" type="xs:boolean"/>
            <xs:element name="Passenger_RU_Flag" type="xs:boolean"/>
            <xs:element name="Central_Entity_Flag" type="xs:boolean"/>
            <xs:element name="National_Entity_Flag" type="xs:boolean"/>
            <xs:element name="Others_Flag" type="xs:boolean"/>
            <xs:element name="Free_Text" type="rftypes:String-255" nillable="true" minOccurs="0"/>
            <xs:element name="Add_Date" type="rftypes:DateTime"/>
            <xs:element name="Modified_Date" type="rftypes:DateTime" nillable="true" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Subsidiary_Location">
        <xs:annotation>
          <xs:documentation>Subsidiary Type information</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="rftypes:CountryCodeISO" minOccurs="0"/>
            <xs:element name="Responsible_IM_Code" type="rftypes:CompanyCode" nillable="true" minOccurs="0"/>
            <xs:element name="Subsidiary_Location_Code" type="rftypes:String1-10"/>
            <xs:element ref="rftypes:Primary_Location"/>
            <xs:element ref="rftypes:SubsidiaryType"/>
            <xs:element name="Subsidiary_Location_Name"/>
            <xs:element name="Start_Validity" type="rftypes:DateTime"/>
            <xs:element name="End_Validity" type="rftypes:DateTime" nillable="true" minOccurs="0"/>
            <xs:element name="AllocationCompany" type="rftypes:Company"/>
            <xs:element name="Longitude" type="rftypes:Decimal9-6" nillable="true" minOccurs="0"/>
            <xs:element name="Latitude" type="rftypes:Decimal8-6" nillable="true" minOccurs="0"/>
            <xs:element name="Free_Text" type="rftypes:String-255" nillable="true" minOccurs="0"/>
            <xs:element name="Add_Date" type="rftypes:DateTime"/>
            <xs:element name="Modified_Date" type="rftypes:DateTime" nillable="true" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!--   Response Element for deleted Primary Locations in CRD -->
      <xs:element name="Deleted_Primary_Location">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Location_Code" type="rftypes:String1-5"/>
            <xs:element ref="rftypes:CountryCodeISO"/>
            <xs:element name="Start_Validity" type="rftypes:DateTime"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!--   Response Element for deleted Subsidiary Locations in CRD -->
      <xs:element name="Deleted_Subsidiary_Location">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Subsidiary_Location_Code" type="rftypes:String1-10"/>
            <xs:element ref="rftypes:Deleted_Primary_Location"/>
            <xs:element name="Subsidiary_Type_Code" type="rftypes:String-2"/>
            <xs:element name="Allocation_Company_Code" type="rftypes:CompanyCode"/>
            <xs:element ref="rftypes:CountryCodeISO"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!--  Data types -->
      <xs:simpleType name="String-255">
        <xs:restriction base="xs:string">
          <xs:maxLength value="255"/>
          <xs:minLength value="0"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="String-100">
        <xs:restriction base="xs:string">
          <xs:maxLength value="100"/>
          <xs:minLength value="0"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="String-50">
        <xs:restriction base="xs:string">
          <xs:maxLength value="50"/>
          <xs:minLength value="0"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="String-70">
        <xs:restriction base="xs:string">
          <xs:maxLength value="70"/>
          <xs:minLength value="0"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="String-10">
        <xs:restriction base="xs:string">
          <xs:maxLength value="10"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="String1-5">
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="5"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="String5">
        <xs:restriction base="xs:string">
          <xs:maxLength value="5"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="String-2">
        <xs:restriction base="xs:string">
          <xs:maxLength value="2"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="String1-10">
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="10" fixed="false"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Numeric2-2">
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="01"/>
          <xs:maxInclusive value="99"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Decimal9-6">
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="15"/>
          <xs:fractionDigits value="6"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Decimal8-6">
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="14"/>
          <xs:fractionDigits value="6"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="DateTime">
        <xs:annotation>
          <xs:documentation>All dates/times are in UTC, time diffeneces according the time zones must be handled in the individual systems </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
      </xs:simpleType>
      <xs:complexType name="ReplicationVolume">
        <xs:annotation>
          <xs:documentation>Replication volume with the last modified date </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="DateFilterForDeletedRecords" type="rftypes:DateTime" minOccurs="0"/>
          <xs:choice>
            <xs:element name="ReplicateFromDate" type="rftypes:DateTime">
              <xs:annotation>
                <xs:documentation>since with last modified date</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ReplicateAll" type="xs:string" fixed="ALL">
              <xs:annotation>
                <xs:documentation>option all which will not consider any date criteria</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="CountryIdentISO">
        <xs:annotation>
          <xs:documentation>ISO 3166-1 alpha code (2 positions) </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:minLength value="2"/>
          <xs:maxLength value="2"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CompanyCode">
        <xs:annotation>
          <xs:documentation>Identifies the RU, IM or other company involved in the Rail Transport Chain</xs:documentation>
        </xs:annotation>
        <xs:restriction base="rftypes:String4-4"/>
      </xs:simpleType>
      <xs:simpleType name="Numeric4-4">
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="0001"/>
          <xs:maxInclusive value="9999"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="PrincipalActivity">
        <xs:annotation>
          <xs:documentation>company Activities</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CE"/>
          <xs:enumeration value="NE"/>
          <xs:enumeration value="IM"/>
          <xs:enumeration value="PRU"/>
          <xs:enumeration value="FRU"/>
          <xs:enumeration value="OTHERS"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="String2-2">
        <xs:restriction base="xs:string">
          <xs:minLength value="2"/>
          <xs:maxLength value="2"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="String4-4">
        <xs:restriction base="xs:string">
          <xs:minLength value="4"/>
          <xs:maxLength value="4"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="SubsidiaryTypeCode">
        <xs:simpleContent>
          <xs:extension base="rftypes:String2-2"/>
        </xs:simpleContent>
      </xs:complexType>
      <xs:element name="CountryCodeISO">
        <xs:annotation>
          <xs:documentation>Identifies a County or State by code (ISO 3166-1) </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="rftypes:CountryIdentISO"/>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.refdata.crd.cc.uic.org/v1/">
      <!--   Global elements  -->
      <xs:element name="username" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:complexType name="SubsidiaryTypeRequest">
        <xs:sequence>
          <xs:element ref="types:SubsidiaryTypeReplicationRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubsidiaryTypeDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" ref="types:SubsidiaryTypeReplicationResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CompanyRequest">
        <xs:sequence>
          <xs:element ref="types:CompanyReplicationRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CompanyDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" ref="types:CompanyReplicationResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CountryRequest">
        <xs:sequence>
          <xs:element ref="types:CountryReplicationRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CountryDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" ref="types:CountryReplicationResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubsidiaryLocationRequest">
        <xs:sequence>
          <xs:element ref="types:SubsidiaryLocationReplicationRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SubsidiaryLocationDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" ref="types:SubsidiaryLocationReplicationResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PrimaryLocationDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" ref="types:PrimaryLocationReplicationResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PrimaryLocationRequest">
        <xs:sequence>
          <xs:element ref="types:PrimaryLocationReplicationRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReplicationFault">
        <xs:sequence>
          <xs:element name="errorCode" nillable="true" type="xs:int"/>
          <xs:element name="errorDescription" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <!--  End of Global Elements  -->
      <!--   Webservice Request  -->
      <xs:element name="getSubsidiaryTypeRequest" type="rfdata:SubsidiaryTypeRequest"/>
      <!--   Webservice Response  -->
      <xs:element name="getSubsidiaryTypeDataResponse" type="rfdata:SubsidiaryTypeDataResponse"/>
      <!--   Webservice Request  -->
      <xs:element name="getCompanyRequest" type="rfdata:CompanyRequest"/>
      <!--   Webservice Response  -->
      <xs:element name="getCompanyDataResponse" type="rfdata:CompanyDataResponse"/>
      <!--   Webservice Request  -->
      <xs:element name="getCountryRequest" type="rfdata:CountryRequest"/>
      <!--   Webservice Response  -->
      <xs:element name="getCountryDataResponse" type="rfdata:CountryDataResponse"/>
      <!--   Webservice Request  -->
      <xs:element name="getSubsidiaryLocationRequest" type="rfdata:SubsidiaryLocationRequest"/>
      <!--   Webservice Response  -->
      <xs:element name="getSubsidiaryLocationDataResponse" type="rfdata:SubsidiaryLocationDataResponse"/>
      <!--   Webservice Request  -->
      <xs:element name="getPrimaryLocationRequest" type="rfdata:PrimaryLocationRequest"/>
      <!--   Webservice Response  -->
      <xs:element name="getPrimaryLocationDataResponse" type="rfdata:PrimaryLocationDataResponse"/>
      <!-- Fault Message in case of Replication failure -->
      <xs:element name="ReplicationFault" type="rfdata:ReplicationFault"/>
    </xs:schema>
  </wsdl:types>
  <!--  wsdl:message elements describe request , response and fault messages for the webservice operations  -->
  <!--   wsdl:message requests  -->
  <wsdl:message name="getPrimaryLocationRequestMessage">
    <wsdl:part element="rfdata:getPrimaryLocationRequest" name="primaryLocationRequestPart"> </wsdl:part>
    <wsdl:part element="rfdata:username" name="usernamePart"> </wsdl:part>
    <wsdl:part element="rfdata:password" name="passwordPart"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubsidiaryLocationRequestMessage">
    <wsdl:part element="rfdata:getSubsidiaryLocationRequest" name="subsidiaryLocationRequestPart"> </wsdl:part>
    <wsdl:part element="rfdata:username" name="usernamePart"> </wsdl:part>
    <wsdl:part element="rfdata:password" name="passwordPart"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubsidiaryTypeRequestMessage">
    <wsdl:part element="rfdata:getSubsidiaryTypeRequest" name="subsidiaryTypeRequestPart"> </wsdl:part>
    <wsdl:part element="rfdata:username" name="usernamePart"> </wsdl:part>
    <wsdl:part element="rfdata:password" name="passwordPart"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryRequestMessage">
    <wsdl:part element="rfdata:getCountryRequest" name="countryRequestPart"> </wsdl:part>
    <wsdl:part element="rfdata:username" name="usernamePart"> </wsdl:part>
    <wsdl:part element="rfdata:password" name="passwordPart"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompanyRequestMessage">
    <wsdl:part element="rfdata:getCompanyRequest" name="companyRequestPart"> </wsdl:part>
    <wsdl:part element="rfdata:username" name="usernamePart"> </wsdl:part>
    <wsdl:part element="rfdata:password" name="passwordPart"> </wsdl:part>
  </wsdl:message>
  <!--  wsdl:message response  -->
  <wsdl:message name="getSubsidiaryTypeDataResponseMessage">
    <wsdl:part element="rfdata:getSubsidiaryTypeDataResponse" name="subsidiaryTypeDataResponsePart"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubsidiaryLocationDataResponseMessage">
    <wsdl:part element="rfdata:getSubsidiaryLocationDataResponse" name="subsidiaryLocationDataResponsePart"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrimaryLocationDataResponseMessage">
    <wsdl:part element="rfdata:getPrimaryLocationDataResponse" name="primaryLocationDataResponsePart"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompanyDataResponseMessage">
    <wsdl:part element="rfdata:getCompanyDataResponse" name="companyDataResponsePart"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryDataResponseMessage">
    <wsdl:part element="rfdata:getCountryDataResponse" name="countryDataResponsePart"> </wsdl:part>
  </wsdl:message>
  <!--  wsdl:message fault  -->
  <wsdl:message name="ReplicationFault">
    <wsdl:part element="rfdata:ReplicationFault" name="ReplicationFault"> </wsdl:part>
  </wsdl:message>
  <!--  Port Type Describes Webservice operations and the messages used in the operaions  -->
  <wsdl:portType name="CRDRFDataReplicationWS">
    <wsdl:operation name="getSubsidiaryTypeData">
      <wsdl:input message="rfdata:getSubsidiaryTypeRequestMessage" name="subsidiaryTypeRequest"> </wsdl:input>
      <wsdl:output message="rfdata:getSubsidiaryTypeDataResponseMessage" name="subsidiaryTypeDataResponse"> </wsdl:output>
      <wsdl:fault message="rfdata:ReplicationFault" name="ReplicationFault"> </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCompanyData">
      <wsdl:input message="rfdata:getCompanyRequestMessage" name="companyRequest"> </wsdl:input>
      <wsdl:output message="rfdata:getCompanyDataResponseMessage" name="companyDataResponse"> </wsdl:output>
      <wsdl:fault message="rfdata:ReplicationFault" name="ReplicationFault"> </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountryData">
      <wsdl:input message="rfdata:getCountryRequestMessage" name="countryRequest"> </wsdl:input>
      <wsdl:output message="rfdata:getCountryDataResponseMessage" name="countryDataResponse"> </wsdl:output>
      <wsdl:fault message="rfdata:ReplicationFault" name="ReplicationFault"> </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSubsidiaryLocationData">
      <wsdl:input message="rfdata:getSubsidiaryLocationRequestMessage" name="subsidiaryLocationRequest"> </wsdl:input>
      <wsdl:output message="rfdata:getSubsidiaryLocationDataResponseMessage" name="subsidiaryLocationDataResponse"> </wsdl:output>
      <wsdl:fault message="rfdata:ReplicationFault" name="ReplicationFault"> </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPrimaryLocationData">
      <wsdl:input message="rfdata:getPrimaryLocationRequestMessage" name="primaryLocationRequest"> </wsdl:input>
      <wsdl:output message="rfdata:getPrimaryLocationDataResponseMessage" name="primaryLocationDataResponse"> </wsdl:output>
      <wsdl:fault message="rfdata:ReplicationFault" name="ReplicationFault"> </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <!--  Soap Binding details -->
  <wsdl:binding name="CRDRFDataReplicationWSImplServiceSoapBinding" type="rfdata:CRDRFDataReplicationWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSubsidiaryTypeData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="subsidiaryTypeRequest">
        <soap:header message="rfdata:getSubsidiaryTypeRequestMessage" part="usernamePart" use="literal"/>
        <soap:header message="rfdata:getSubsidiaryTypeRequestMessage" part="passwordPart" use="literal"/>
        <soap:body parts="subsidiaryTypeRequestPart" use="literal"/>
      </wsdl:input>
      <wsdl:output name="subsidiaryTypeDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ReplicationFault">
        <soap:fault name="ReplicationFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCompanyData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="companyRequest">
        <soap:header message="rfdata:getCompanyRequestMessage" part="usernamePart" use="literal"> </soap:header>
        <soap:header message="rfdata:getCompanyRequestMessage" part="passwordPart" use="literal"> </soap:header>
        <soap:body parts="companyRequestPart" use="literal"/>
      </wsdl:input>
      <wsdl:output name="companyDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ReplicationFault">
        <soap:fault name="ReplicationFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCountryData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="countryRequest">
        <soap:header message="rfdata:getCountryRequestMessage" part="usernamePart" use="literal"> </soap:header>
        <soap:header message="rfdata:getCountryRequestMessage" part="passwordPart" use="literal"> </soap:header>
        <soap:body parts="countryRequestPart" use="literal"/>
      </wsdl:input>
      <wsdl:output name="countryDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ReplicationFault">
        <soap:fault name="ReplicationFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSubsidiaryLocationData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="subsidiaryLocationRequest">
        <soap:header message="rfdata:getSubsidiaryLocationRequestMessage" part="usernamePart" use="literal"> </soap:header>
        <soap:header message="rfdata:getSubsidiaryLocationRequestMessage" part="passwordPart" use="literal"> </soap:header>
        <soap:body parts="subsidiaryLocationRequestPart" use="literal"/>
      </wsdl:input>
      <wsdl:output name="subsidiaryLocationDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ReplicationFault">
        <soap:fault name="ReplicationFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPrimaryLocationData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="primaryLocationRequest">
        <soap:header message="rfdata:getPrimaryLocationRequestMessage" part="usernamePart" use="literal"> </soap:header>
        <soap:header message="rfdata:getPrimaryLocationRequestMessage" part="passwordPart" use="literal"> </soap:header>
        <soap:body parts="primaryLocationRequestPart" use="literal"/>
      </wsdl:input>
      <wsdl:output name="primaryLocationDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ReplicationFault">
        <soap:fault name="ReplicationFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <!-- SOAP Service End Point details for Reference data replication by LI Users -->
  <wsdl:service name="CRDRFDataReplicationWSImplService">
    <wsdl:port binding="rfdata:CRDRFDataReplicationWSImplServiceSoapBinding" name="CRDRFDataReplicationWSImplPort">
      <!--  localhost will be replaced with the actual domain name -->
      <soap:address location="https://crdservice-online.rne.eu/CRD/services/CRDRFDataReplicationWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>