business-organisation-directory/src/main/resources/crd/crd.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rftypes="http://schema.refdata.crd.cc.uic.org/types/v1/" targetNamespace="http://schema.refdata.crd.cc.uic.org/types/v1/">
  <!--
      Request element which contains the Filter Criteria and Replication
      volume from LI for Company Data Replication from CRD
     -->
  <xs:element name="CompanyReplicationRequest">
    <xs:annotation>
      <xs:documentation>Request element which contains the Filter Criteria and Replication volume from LI for Company Data Replication from CRD </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="rftypes:CountryCodeISO"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="PrincipalActivity" type="rftypes:PrincipalActivity"/>
        <xs:element minOccurs="0" name="ReplicationVolume" type="rftypes:ReplicationVolume"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountryReplicationRequest">
    <xs:annotation>
      <xs:documentation>Request element which contains the Replication volume from LI for Country Data Replication from CRD </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReplicationVolume" type="rftypes:ReplicationVolume"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrimaryLocationReplicationRequest">
    <xs:annotation>
      <xs:documentation>Request element which contains the Filter Criteria and Replication volume from LI for Primary Location Data Replication from CRD</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="rftypes:CountryCodeISO"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="ResponsibleIM" type="rftypes:CompanyCode">
          <xs:annotation>
            <xs:documentation>IM Responisible for location</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ReplicationVolume" type="rftypes:ReplicationVolume">
          <xs:annotation>
            <xs:documentation>Replication Volume parameters</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubsidiaryLocationReplicationRequest">
    <xs:annotation>
      <xs:documentation>Request element which contains the Filter Criteria and Replication volume from LI for Subsidiary Location Data Replication from CRD</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="rftypes:CountryCodeISO"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="ResponsibleIM" type="rftypes:CompanyCode">
          <xs:annotation>
            <xs:documentation>IM Responisible for reporting</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="SubsidiaryType" type="rftypes:SubsidiaryTypeCode"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="AllocationCompany" type="rftypes:CompanyCode"/>
        <xs:element minOccurs="0" name="ReplicationVolume" type="rftypes:ReplicationVolume"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubsidiaryTypeReplicationRequest">
    <xs:annotation>
      <xs:documentation>Request element which contains the Filter Criteria and Replication volume from LI for Subsidiary Type Data Replication from CRD</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReplicationVolume" type="rftypes:ReplicationVolume"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyReplicationResponse">
    <xs:annotation>
      <xs:documentation>Response element which contains the Company Data to be replicated </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="deletedCompany" type="rftypes:CompanyCode"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Company" type="rftypes:Company"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountryReplicationResponse">
    <xs:annotation>
      <xs:documentation>Response element which contains the Country Data to be replicated </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="deletedCountry" type="rftypes:CountryIdentISO"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="rftypes:Country"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrimaryLocationReplicationResponse">
    <xs:annotation>
      <xs:documentation>Response element which contains the Primary Location Data to be replicated </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="rftypes:Deleted_Primary_Location"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="rftypes:Primary_Location"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubsidiaryLocationReplicationResponse">
    <xs:annotation>
      <xs:documentation>Response element which contains the Subsidiary Location Data to be replicated </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="rftypes:Deleted_Subsidiary_Location"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="rftypes:Subsidiary_Location"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubsidiaryTypeReplicationResponse">
    <xs:annotation>
      <xs:documentation>Response element which contains the Subsidiary Type Data to be replicated </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Deleted_Subsidiary_Type" type="rftypes:String-2"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="rftypes:SubsidiaryType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Company">
    <xs:annotation>
      <xs:documentation>Company Information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Company_Name" type="rftypes:String-255"/>
      <xs:element minOccurs="0" name="Company_Name_ASCII" nillable="true" type="rftypes:String-255"/>
      <xs:element name="Company_UIC_Code" type="rftypes:CompanyCode"/>
      <xs:element minOccurs="0" name="Company_URL" nillable="true" type="rftypes:String-100"/>
      <xs:element ref="rftypes:Country"/>
      <xs:element name="Start_Validity" type="rftypes:DateTime"/>
      <xs:element minOccurs="0" name="End_Validity" nillable="true" type="rftypes:DateTime"/>
      <xs:element name="Company_Short_Name" type="rftypes:String-50"/>
      <xs:element minOccurs="0" name="Free_Text" nillable="true" type="rftypes:String-255"/>
      <xs:element ref="rftypes:Contact_Details"/>
      <xs:element name="Passenger_Flag" type="xs:boolean"/>
      <xs:element name="Freight_Flag" type="xs:boolean"/>
      <xs:element name="Infrastructure_Flag" type="xs:boolean"/>
      <xs:element name="Other_Company_flag" type="xs:boolean"/>
      <xs:element name="NE_Entity_Flag" type="xs:boolean"/>
      <xs:element name="CE_Entity_Flag" type="xs:boolean"/>
      <xs:element name="Add_Date" type="rftypes:DateTime"/>
      <xs:element minOccurs="0" name="Modified_Date" nillable="true" type="rftypes:DateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country">
    <xs:annotation>
      <xs:documentation>Country Information</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rftypes:CountryCodeISO"/>
        <xs:element minOccurs="0" name="Country_UIC_Code" nillable="true" type="rftypes:String-2"/>
        <xs:element name="Country_Name_EN" type="rftypes:String-255"/>
        <xs:element minOccurs="0" name="Country_Name_FR" nillable="true" type="rftypes:String-255"/>
        <xs:element minOccurs="0" name="Country_Name_DE" nillable="true" type="rftypes:String-255"/>
        <xs:element name="Sub_Loc_Code_Flag" type="xs:boolean"/>
        <xs:element name="Add_Date" type="rftypes:DateTime"/>
        <xs:element minOccurs="0" name="Modified_Date" nillable="true" type="rftypes:DateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contact_Details">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Contact_Person" type="rftypes:String-255"/>
        <xs:element minOccurs="0" name="Email" nillable="true" type="rftypes:String-70"/>
        <xs:element minOccurs="0" name="Phone_Number" nillable="true" type="rftypes:String-70"/>
        <xs:element minOccurs="0" name="FAX_Number" nillable="true" type="rftypes:String-70"/>
        <xs:element minOccurs="0" name="Address" nillable="true" type="rftypes:String-255"/>
        <xs:element minOccurs="0" name="City" nillable="true" type="rftypes:String-50"/>
        <xs:element minOccurs="0" name="Mobile_Number" nillable="true" type="rftypes:String-70"/>
        <xs:element minOccurs="0" name="Postal_Code" nillable="true" type="rftypes:String-10"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Primary_Location">
    <xs:annotation>
      <xs:documentation>Primary Location Information</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rftypes:Country"/>
        <xs:element name="Location_Code" type="rftypes:String1-5"/>
        <xs:element name="Start_Validity" type="rftypes:DateTime"/>
        <xs:element minOccurs="0" name="End_Validity" nillable="true" type="rftypes:DateTime"/>
        <xs:element name="ResponsibleIM" type="rftypes:Company">
          <xs:annotation>
            <xs:documentation>IM Responsible for location</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Location_Name" type="rftypes:String-255"/>
        <xs:element name="Location_Name_ASCII" type="rftypes:String-255"/>
        <xs:element minOccurs="0" name="NUTS_Code" nillable="true" type="rftypes:String5"/>
        <xs:element minOccurs="0" name="Container_Handling_Flag" nillable="true" type="xs:boolean"/>
        <xs:element minOccurs="0" name="Handover_Point_Flag" nillable="true" type="xs:boolean"/>
        <xs:element minOccurs="0" name="Freight_Possible_Flag" nillable="true" type="xs:boolean"/>
        <xs:element minOccurs="0" name="Freight_Start_Validity" nillable="true" type="rftypes:DateTime"/>
        <xs:element minOccurs="0" name="Freight_End_Validity" nillable="true" type="rftypes:DateTime"/>
        <xs:element minOccurs="0" name="Passenger_Possible_Flag" nillable="true" type="xs:boolean"/>
        <xs:element minOccurs="0" name="Passenger_Start_Validity" nillable="true" type="rftypes:DateTime"/>
        <xs:element minOccurs="0" name="Passenger_End_Validity" nillable="true" type="rftypes:DateTime"/>
        <xs:element minOccurs="0" name="Longitude" nillable="true" type="rftypes:Decimal9-6"/>
        <xs:element minOccurs="0" name="Latitude" nillable="true" type="rftypes:Decimal8-6"/>
        <xs:element minOccurs="0" name="Free_Text" nillable="true" type="rftypes:String-255"/>
        <xs:element name="Add_Date" type="rftypes:DateTime"/>
        <xs:element minOccurs="0" name="Modified_Date" nillable="true" type="rftypes:DateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubsidiaryType">
    <xs:annotation>
      <xs:documentation>Subsidiary Type information</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Subsidiary_Type_Code" type="rftypes:String-2"/>
        <xs:element name="Subsidiary_Type_Name" type="rftypes:String-255"/>
        <xs:element name="IM_Flag" type="xs:boolean"/>
        <xs:element name="Freight_RU_Flag" type="xs:boolean"/>
        <xs:element name="Passenger_RU_Flag" type="xs:boolean"/>
        <xs:element name="Central_Entity_Flag" type="xs:boolean"/>
        <xs:element name="National_Entity_Flag" type="xs:boolean"/>
        <xs:element name="Others_Flag" type="xs:boolean"/>
        <xs:element minOccurs="0" name="Free_Text" nillable="true" type="rftypes:String-255"/>
        <xs:element name="Add_Date" type="rftypes:DateTime"/>
        <xs:element minOccurs="0" name="Modified_Date" nillable="true" type="rftypes:DateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subsidiary_Location">
    <xs:annotation>
      <xs:documentation>Subsidiary Type information</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="rftypes:CountryCodeISO"/>
        <xs:element minOccurs="0" name="Responsible_IM_Code" nillable="true" type="rftypes:CompanyCode"/>
        <xs:element name="Subsidiary_Location_Code" type="rftypes:String1-10"/>
        <xs:element ref="rftypes:Primary_Location"/>
        <xs:element ref="rftypes:SubsidiaryType"/>
        <xs:element name="Subsidiary_Location_Name"/>
        <xs:element name="Start_Validity" type="rftypes:DateTime"/>
        <xs:element minOccurs="0" name="End_Validity" nillable="true" type="rftypes:DateTime"/>
        <xs:element name="AllocationCompany" type="rftypes:Company"/>
        <xs:element minOccurs="0" name="Longitude" nillable="true" type="rftypes:Decimal9-6"/>
        <xs:element minOccurs="0" name="Latitude" nillable="true" type="rftypes:Decimal8-6"/>
        <xs:element minOccurs="0" name="Free_Text" nillable="true" type="rftypes:String-255"/>
        <xs:element name="Add_Date" type="rftypes:DateTime"/>
        <xs:element minOccurs="0" name="Modified_Date" nillable="true" type="rftypes:DateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--   Response Element for deleted Primary Locations in CRD -->
  <xs:element name="Deleted_Primary_Location">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Location_Code" type="rftypes:String1-5"/>
        <xs:element ref="rftypes:CountryCodeISO"/>
        <xs:element name="Start_Validity" type="rftypes:DateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--   Response Element for deleted Subsidiary Locations in CRD -->
  <xs:element name="Deleted_Subsidiary_Location">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Subsidiary_Location_Code" type="rftypes:String1-10"/>
        <xs:element ref="rftypes:Deleted_Primary_Location"/>
        <xs:element name="Subsidiary_Type_Code" type="rftypes:String-2"/>
        <xs:element name="Allocation_Company_Code" type="rftypes:CompanyCode"/>
        <xs:element ref="rftypes:CountryCodeISO"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--  Data types -->
  <xs:simpleType name="String-255">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255"/>
      <xs:minLength value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String-100">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100"/>
      <xs:minLength value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String-50">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
      <xs:minLength value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String-70">
    <xs:restriction base="xs:string">
      <xs:maxLength value="70"/>
      <xs:minLength value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String-10">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String1-5">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String5">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String-2">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String1-10">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength fixed="false" value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric2-2">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="01"/>
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Decimal9-6">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="15"/>
      <xs:fractionDigits value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Decimal8-6">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="14"/>
      <xs:fractionDigits value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DateTime">
    <xs:annotation>
      <xs:documentation>All dates/times are in UTC, time diffeneces according the time zones must be handled in the individual systems </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:complexType name="ReplicationVolume">
    <xs:annotation>
      <xs:documentation>Replication volume with the last modified date </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DateFilterForDeletedRecords" type="rftypes:DateTime"/>
      <xs:choice>
        <xs:element name="ReplicateFromDate" type="rftypes:DateTime">
          <xs:annotation>
            <xs:documentation>since with last modified date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element fixed="ALL" name="ReplicateAll" type="xs:string">
          <xs:annotation>
            <xs:documentation>option all which will not consider any date criteria</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryIdentISO">
    <xs:annotation>
      <xs:documentation>ISO 3166-1 alpha code (2 positions) </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CompanyCode">
    <xs:annotation>
      <xs:documentation>Identifies the RU, IM or other company involved in the Rail Transport Chain</xs:documentation>
    </xs:annotation>
    <xs:restriction base="rftypes:String4-4"/>
  </xs:simpleType>
  <xs:simpleType name="Numeric4-4">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0001"/>
      <xs:maxInclusive value="9999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PrincipalActivity">
    <xs:annotation>
      <xs:documentation>company Activities</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="CE"/>
      <xs:enumeration value="NE"/>
      <xs:enumeration value="IM"/>
      <xs:enumeration value="PRU"/>
      <xs:enumeration value="FRU"/>
      <xs:enumeration value="OTHERS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String2-2">
    <xs:restriction base="xs:string">
      <xs:minLength value="2"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String4-4">
    <xs:restriction base="xs:string">
      <xs:minLength value="4"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SubsidiaryTypeCode">
    <xs:simpleContent>
      <xs:extension base="rftypes:String2-2"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="CountryCodeISO">
    <xs:annotation>
      <xs:documentation>Identifies a County or State by code (ISO 3166-1) </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="rftypes:CountryIdentISO"/>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>